.wrapper {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.kit-img {
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    position: relative;
    transition: 1s;
    left:0px;
}


.div-buttons {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 0 auto;
    
}